doctype html
html(lang="en")
    head
        link(href='/stylesheets/bootstrap.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Phoenix
    body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
     a.navbar-brand(href='#') Navbar
     button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
     #navbarSupportedContent.collapse.navbar-collapse
       ul.navbar-nav.mr-auto
        li.nav-item(class=(title=='Home'? 'active':''))
         a.nav-link(href='/') Dashboard
          span.sr-only (current)
        if !user
         li.nav-item(class=(title=='Register'? 'active':''))
          a.nav-link(href='/users/register') Register
         li.nav-item(class=(title=='Login'? 'active':''))
          a.nav-link(href='/users/login') Login
       ul.nav.navbar-nav.navbar-right
        if user
         li.nav-item
          a.nav-link(href='/users/logout') Logout
    .container
     != messages()
     block content
    hr
    footer
     p(class='text-center') &copy; 2019 Company, Inc.
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src="/javascripts/bootstrap.js")
