ul.success li{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #6de9c6;
  list-style: none; 
}

ul.error li{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #e43434;
  background-color: #eba083;
  border-color: #6de9c6;
  list-style: none; 
}